# Datos y modelos (Demasiado pesados para Git)
data/
notebooks/review/
*.joblib
*.csv
*.parquet

# Entornos virtuales
venv/
.env
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Python
__pycache__/
# *.py[cod]